/*  your css code here. If applicable */
body{
	background-color:#cccccc;
}
/* div{
	background-color:white;
	border:1px solid black;
	border-radius:2px;
	
} */
.player_one{
	color:black;
	text-decoration:none;
	background-color:white;
	border:1px solid black;
	border-radius:2px;
	padding:5px;
}
a{
	text-decoration:none;
	color:black;
}
.player_two{
	width:320px;
	padding:5px;
	background-color:white;
	border:1px solid black;
	border-radius:2px;
}
p{
	direction:left;
}
li{
	list-style-type:none;
}
h1,h2{
	text-align:center;
}